@model IEnumerable<YapeApp.Models.Yape>

@Styles.Render("~/Content/Style.css")

@{
    ViewBag.Title = "Inicio";
}

@{
    string nombre = Session["Nombre"].ToString();
    string saldo = Session["Saldo"].ToString();
}

<h2>Hola, @nombre</h2>
<h3>Saldo : @saldo</h3>

<div class="container" style="margin-left: 15%">
    <div class="row m-auto">
        <div class="col-auto">
            <p>
                @Html.ActionLink("Nuevo Yapeo", "RealizarYapeo", "Cliente", new { @class = "btn btn-primary" })
            </p>
        </div>
        <div class="col-auto row h-auto ms-5 flex-fill gap-3">
            <div class="col-auto">
                @Html.ActionLink("Exportar Registros a PDF", "ActionPDF", "Cliente", new { @class = "btn btn-primary" })
            </div>
            @using (Html.BeginForm("ActionFiltrarYapesXFecha", "Cliente", FormMethod.Post, new { @class = "w-auto col-auto h-auto gap-1" }))
            {
                <input type="date" name="fecha" style="border-radius: 5.5px; margin-top: auto" />
                <input type="submit" value="Filtrar" class="btn btn-primary" />
            }
            <div class="col-auto">
                @Html.ActionLink("Cerrar Sesion", "ActionCerrarSesion", "Cliente", new { @class = "btn btn-primary col-auto h-auto" })
            </div>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDE_YAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRC_YAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRZ_YAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MON_YAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDE_YAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NRC_YAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NRZ_YAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MON_YAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.IDE_YAP })
            </td>
        </tr>
    }
</table>
