@model IEnumerable<YapeApp.Models.Yape>

@{
    ViewBag.Title = "Inicio";
}

@{ 
    string nombre = Session["nombre"].ToString();
}

<h2>Hola, @ViewBag.nombre</h2>
<h3>Saldo : @ViewBag.saldo</h3>

<p>
    @Html.ActionLink("Nuevo Yapeo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDE_YAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRC_YAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRZ_YAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MON_YAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEC_YAP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDE_YAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NRC_YAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NRZ_YAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MON_YAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEC_YAP)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Exportar Registros a PDF", "ActionPDF", "Cliente", new { @class = "btn btn-primary" })

