@model IEnumerable<YapeApp.Models.Yape>
@Styles.Render("~/Content/Style.css")

@{
    ViewBag.Title = "Inicio";
}

@{
    string nombre = "Sucedio un error, Vuelva a iniciar Sesion";
    string saldo = "0.0";

    if (Session["Numero"] != null)
    {
        nombre = Session["Nombre"].ToString();
        saldo = Session["Saldo"].ToString();
    }
}

<style>
    .pdf:hover {
        background-color: #ff0000;
        border-color: #ff0000;
        transition: 0.55s;
    }

    .excel:hover {
        background-color: #509421;
        border-color: #509421;
        transition: 0.55s;
    }
</style>

<h2>Hola, @nombre</h2>
<h3>Saldo : @saldo</h3>

@if (ViewBag.mensaje != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.mensaje
    </div>
}

<div class="container">
    <div class="row mt-1 mb-1" style="margin:auto; width: max-content">
        <div class="col-auto">
            @Html.ActionLink("Nuevo Yapeo", "realizarYapeo", "Cliente", new { @class = "btn btn-primary" })
        </div>
        <div class="col-auto">
            @Html.ActionLink("Exportar Registros a PDF", "ActionPDF", "Cliente", new { @class = "btn btn-primary pdf" })
        </div>
        @{
            if (Session["Numero"] != null)
            {
                <div class="col-auto">
                    @Html.ActionLink("Exportar Registros a Excel", "ActionExportarExcel", "Cliente", new { @class = "btn btn-primary excel" })
                </div>
            }
            else
            {
                <div class="col-auto">
                    @Html.ActionLink("Exportar Registros a Excel", "ActionCerrarSesion", "Cliente", new { @class = "btn btn-primary excel" })
                </div>
            }
        }
        @using (Html.BeginForm("ActionFiltrarYapesXFecha", "Cliente", FormMethod.Post, new { @class = "w-auto col-auto h-auto gap-1" }))
        {
            <input type="date" name="fecha" style="border-radius: 5.5px; margin-top: auto" />
            <input type="submit" value="Filtrar" class="btn btn-primary" />
        }
        <div class="col-auto">
            @Html.ActionLink("Cerrar Sesion", "ActionCerrarSesion", "Cliente", new { @class = "btn btn-primary col-auto h-auto" })
        </div>
    </div>
    <table class="table">
        @{
            if (ViewBag.aviso != null)
            {
                <div class="alert alert-info">
                    @ViewBag.aviso
                </div>
            }
            else
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IDE_YAP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NRC_YAP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NRZ_YAP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MON_YAP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th></th>
                </tr>

                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDE_YAP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NRC_YAP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NRZ_YAP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MON_YAP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new { id = item.IDE_YAP })
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>
